.basic-info-header {
  :global {
    .card-view-avatar {
      padding-right: 8px;
    }
  }
}

.list-item {
  &:global(.ant-list-item) {
    padding: 24px 16px 28px;
    display: block;
  }

  :global {
    .card-view-title {
      font-weight: normal;
    }
  }

  .card-info-without-timeline {
    :global {
      .ant-timeline-item {
        .ant-timeline-item-head {
          border-color: transparent;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  :global {
    .ant-timeline-item-last {
      padding-bottom: 0;
      .ant-timeline-item-content {
        min-height: 20px;
      }
    }
  }

  .card-info-wrap {
    .card-company-position {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.list-item-card-view {
  width: 100%;
}
